@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "PT Sans Narrow", sans-serif;
  /* font-size: large; */
  color: #fff;
  /* background: #222; */
  /* width: 800px;
  height: 600px; */
  background-image: url("backgroupnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 10vh;
  padding: 1vw;
}


h1 {
    /* position: absolute; */
    z-index: 1;
    /* padding: 0.5em; */
    /* margin: 0; */
    font-size: 4rem;
    /* flex: 1; */
}


#info_area {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #85888280;
  transition: all 2s ease;
}


#slider{
    position: absolute;
    z-index: 4;
    padding: 0;
    top: 10vh;
    left: 0;
    width: 30vw;
    height: 90vh;
    /* background-color: #858882B3; */
    /* background-color: #85888280; */
    transition: all 2s ease;
    
}


#slide{
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: 0;
    top: 0;
    font-size: 1.5em;
    /* transition: all 2s ease; */
}



#slide_next {
    position: absolute;
    padding: 0;
    margin: 0;
    margin: 0;
    top: -1000px;
    font-size: 1.5em;
    /* transition: all 2s ease; */
}


p {
    padding: 1vw; 
    /* background-color: #858882B3; */
    /* border-radius:  0.5vh; */
}



#map_highcharts {
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 40vw;
    height: 70vh;
    z-index: 6;
    /* background-color: #85888280; */
    /* border-radius: 0.5vh; */
    transition: all 3s ease;
}


#matter_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    /* background: transparent !important; */
    z-index: 5;
}


@media screen and (max-width: 800px) {
  #slider {
    width: 100vw;
    height: 20vh;
  }

  #map_highcharts {
    top: 30vh;
    left: 0;
    width: 100vw;
    height: 60vh;
  }
}


.park {
  position: absolute;
  /* background: #111; */
  /* color: #eee; */
  /* height: 80px; */
  /* width: 140px; */
  /* clip-path: circle(50px); */

  transition: background-color 1.5s, box-shadow 1.5s ;
  height: 100px;
  width: 100px;
  background-color: #135623;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #ffefce;
  cursor: move;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans Narrow", sans-serif;
  text-wrap: nowrap;
  z-index: 2;
  /* transition: background-color 1s; */
  /* text-shadow: 2px 2px 3px #38e; */
}


.park.trade {
  /* transition: background-color 1000ms linear; */
  background-color: rgba(0, 0, 0, 1);
}


.iceCream {
  position: absolute;
  width: 500px;
  height: 500px;
  /* clip-path: polygon(0 0, 100% 0, 50% 100%); */
  /* border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 500px solid green; */
  /* background-image: url("waffel.jpg"); */
  /* background-position: center; */
  /* background-size: 700px; */
  top: 110vh;
  margin: 0;
  margin-top: 500px;
  z-index: 0;
}




.tooltiptext {
  /* font-size: 11vw; */
  position: absolute;
  /* top: -2em; */
  visibility: hidden;
  z-index: 2;
  font-size: 1em;
  text-wrap: wrap;
  max-width: 20em;

}

.park:hover .tooltiptext {
  visibility: visible;
}


#arrow {
  position: absolute;
  z-index: 15;
  top: 5vh;
  left: 50vw;
  width: 3vw;
  height: 3vh;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  background-color: #135623;
}